# MTN Data analysis

importing libraries

In [159]:
import time
import numpy as np
import pandas as pd

Loading cells_geo.csv file

In [160]:
data_file_1 = pd.read_csv('cells_geo.csv', delimiter = ';')
data_file_1

,Unnamed: 0,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,4,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f
...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3969,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,1cfc2d7ab1,f91ed8d2e9
3970,3970,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,3ae1708153,f91ed8d2e9
3971,3971,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,cb71f8a29c,61bee9c70c
3972,3972,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,d4a6a0b645,61bee9c70c
3973,3973,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,f9f3e42589,61bee9c70c

Loading Telcom_dataset file

In [161]:
data_file_2 = pd.read_csv('Telcom_dataset.csv')
data_file_2

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
4996,sms,100,2012-05-07 00:01:54.0,0,92e367d671f45c5,38811081cf82c90,19e2e,OTHER,0c2371d9bc,1e751d08a4
4997,Voice,1,2012-05-07 00:01:54.0,1,83b44b18238e602,6ec63d4aa5de5dd,19e2e,19e2e,5fb791cf56,65efe2bc62
4998,Voice,0,2012-05-07 00:01:54.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,7773627c12,9ef9616350
4999,Voice,0,2012-05-07 00:01:54.0,0,a1613f1a992716a,bd663f07b6c8bcd,19e2e,19e2e,3f4af49d6c,969b8d0e39
5000,Voice,7,2012-05-07 00:01:54.0,2,1670a5f7c22f4ed,3600efd094f2225,19e2e,19e2e,6f4d9b77a5,ebfc58af70

Loading Telcom_dataset2

In [162]:
data_file_3 = pd.read_csv('Telcom_dataset2.csv')
data_file_3

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO
...,...,...,...,...,...,...,...,...,...,...
4996,sms,0,2012-05-08 00:01:53.0,8,22ffbbb8ac8cde1,8db839a0c08bd54,19e2e,19e2e,896459aace,b7d00e59e4
4997,sms,25,2012-05-08 00:01:53.0,0,bcf512a3542d42c,5a2848d6f983c31,19e2e,19e2e,7e90b35166,211015b14d
4998,sms,0,2012-05-08 00:01:53.0,0,05e3c3d41628a9f,7185a95077eae9e,19e2e,19e2e,fe70e431df,c7ea989264
4999,data,0,2012-05-08 00:01:53.0,_,86a4dbf018f6f24,5a4dc9e82deb309,19e2e,OTHER,ffa6759bb2,NaN
5000,Voice,0,2012-05-08 00:01:53.0,0,a03c9837c62a5b9,de590e98879fa37,19e2e,19e2e,8630058aca,b47a998a3e

Loading Telcom_dataset3

In [163]:
data_file_4 = pd.read_csv('Telcom_dataset3.csv')
data_file_4

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SITE_ID
0,Voice,61,01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,#NAME?,#NAME?
2,Voice,10,02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,#NAME?,#NAME?
4,Voice,22,03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA
...,...,...,...,...,...,...,...,...,...,...
4996,Voice,0,01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
4997,Voice,62,01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
4998,Voice,32,01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
4999,Voice,30,01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
5000,Voice,60,01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

Finding the most used city in Telcom_dataset
The site ID that appears most will be obtained using the mode function
Then the site ID will be obtained from the cel_geo data set to find the most used city

In [164]:
mode_day_1 = data_file_2.SITE_ID.mode()
print(mode_day_1)

0    b47a998a3e
dtype: object

In [170]:
data_file_1.loc[data_file_1["SITE_CODE"]== "b47a998a3e", "VILLES" ].iloc[0]

'YOPOUGON'

Finding the most used city in Telcom_dataset2 The site ID that appears most will be obtained using the mode function 
Then the site ID will be obtained from the cel_geo data set to find the most used city

In [149]:
mode_day_2 = data_file_3.SITE_ID.mode()
print(mode_day_2)

0    91e86be9a6
dtype: object

Finding the specific city with the site Id appearing most in the data


Again YOPOUGON is the most used city but with another identifiable SITE_CODE

In [171]:
data_file_1.loc[data_file_1["SITE_CODE"]== "91e86be9a6", "VILLES" ].iloc[0]

'YOPOUGON'

Finding the most used city in Telcom_dataset3 The site ID that appears most will be obtained using the mode function Then the site ID will be obtained from the cel_geo data set to find the most used city

In [151]:
mode_day_3 = data_file_4.SITE_ID.mode()
print(mode_day_3)

0    1ddea341cd
dtype: object

In [169]:
#Finding the specific city with the site Id appearing most in the data
#Again YOPOUGON is the most used city but with another identifiable SITE_CODE
#data_file_1[data_file_1.SITE_CODE =="1ddea341cd"].head(1)
data_file_1.loc[data_file_1["SITE_CODE"]== "1ddea341cd", "VILLES" ].iloc[0]

'SAN-PEDRO'

Most used cities during business hours for the first day

In [178]:
from time import mktime
from datetime import datetime

def getTimeCat(Datetime):
    # extract time categories
    str_time = datetime.strptime(Datetime, "%m/%j/%y %H:%M:MS")
    ts = datetime.fromtimestamp(mktime(str_time))

    # --> Business hours = 0800-1700
    businessStart = datetime.time(8, 0, 1)
    businessEnd = datetime.time(17, 0, 0)

    # --> home hours = 1700-0800
    midStart = datetime.time(17, 0, 1)
    midEnd = datetime.time(8, 0, 0)

    if time_in_range(businessStart, businessEnd, ts):
      timecat = 0 #business hours
    elif time_in_range(homeStart, homeEnd, ts):
      timecat = 1 #home hours

Finding the most used product for the first day(TelcomDataset.csv)

In [95]:
mode_prod_1 = data_file_2.PRODUTC.mode()
print(mode_prod_1)

0    Voice
dtype: object

Finding the most used product for the second day(TelcomDataset2.csv)

In [96]:
mode_prod_2 = data_file_3.PRODUCT.mode()
print(mode_prod_2)

0    sms
dtype: object

Finding the most used product for the second day(TelcomDataset3.csv)

In [97]:
mode_prod_3 = data_file_4.PRODUCT.mode()
print(mode_prod_3)

0    sms
dtype: object

Merging the three datasets containing the information concerning the usage of products by consumers

In [116]:
data = pd.concat([data_file_2, data_file_3,data_file_4], axis=0)
#data = data_file_2.append(data_file_3).append(data_file_4) which gave the output
data

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID,PRODUCT,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELLID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu,NaN,NaN,NaN,NaN,NaN
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41,NaN,NaN,NaN,NaN,NaN
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi,NaN,NaN,NaN,NaN,NaN
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3,NaN,NaN,NaN,NaN,NaN
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,NaN,0,NaN,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,NaN,f7d63a29e5,Voice,01:43.0,NaN,NaN,2aa04dcab7
4997,NaN,62,NaN,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,NaN,b4ddb9e93c,Voice,01:43.0,NaN,NaN,7f1f2f889f
4998,NaN,32,NaN,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,NaN,d68260ef50,Voice,01:43.0,NaN,NaN,a4731e780e
4999,NaN,30,NaN,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,NaN,b4130b54ab,Voice,01:43.0,NaN,NaN,98ed726da2
5000,NaN,60,NaN,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,NaN,6d70dae094,Voice,01:43.0,NaN,NaN,1c11a2fcbb

The most used product for the three days

In [101]:
mode_prod_data = data.PRODUTC.mode()
print(mode_prod_data)

0    Voice
dtype: object

Overall city that was most used

In [117]:
mode_city_all = data.SITE_ID.mode()
print(mode_city_all)

0    7f76d66503
dtype: object

Finding the name of the city with the SITE_COD obtained above

In [175]:
data_file_1.loc[data_file_1["SITE_CODE"]== "7f76d66503", "VILLES" ].iloc[0]

'ATTECOUBE'